# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies directory
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Idea files
.idea

# VSCode potential configuration files
.vscode


# js files 
dist/